body {
  background-image: url(images/fabian-blank-pElSkGRA2NU-unsplash.jpg);
  background-size: 90%;
  color: black;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 180px;;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.header-email {
  display: flex;
  justify-content: left;
  padding: 5px;
}

.header-expense {
  display: flex;
  justify-content: left;
  padding: 5px;
  padding-right: 50px;
  background-color:antiquewhite;
}

